<div class="container d-flex justify-content-center mt-4" *ngIf="state.state">
  <div class="col-4">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" #txtPassword>

    <label for="passwordConfirm" class="form-label mt-4">Password Confirm</label>
    <input type="password" class="form-control" id="passwordConfirm" placeholder="Password Confirm" #txtPasswordConfirm>

    <button type="button" class="btn btn-primary d-flex mx-auto mt-2" (click)="updatePassword(txtPassword.value, txtPasswordConfirm.value)">Gimi Password</button>
  </div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!state.state">
  Bu link kullanılmamakta.
</div>
