<h1 mat-dialog-title>{{data.userName}} için Rol Atama
  <div class="badge"
    matBadge="{{rolesComponent.selectedOptions.selected.length}}/{{datas?.totalRoleCount}}" matBadgeOverlap="false">
  </div>
</h1>
<div mat-dialog-content>
  <p> İlgili User'a hangi rolleri atamak istersiniz?</p>
</div>

<mat-selection-list #rolesComponent>
  <mat-list-option *ngFor="let r of rol"  [selected]="isExistRole(r.name)">
    {{r.name}}
  </mat-list-option>
</mat-selection-list>

<div mat-dialog-actions>
  <button mat-button (click)="close()">No</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="assignRoles(rolesComponent)">Rolleri
    Ata</button>
</div>
