<!-- Menu component template -->
<mat-list role="list">
  <!-- Loop through the menu items and create a link for each one -->
  <ng-container *ngFor="let item of menuItems">
    <!-- Check if the current user has the role required for the menu item -->
    <a *ngIf="roleCheck(item.role)" mat-list-item role="listitem" [routerLink]="item.link">{{ item.label }}</a>
  </ng-container>
</mat-list>



<!-- <ul>
  <li><a routerLink ="/admin">Dashboard</a></li>
  <li><a routerLink ="customers">Customers</a></li>
  <li><a routerLink ="products">Products</a></li>
  <li><a routerLink ="orders">Orders</a></li>
  <li><a routerLink ="">Ana Sayfa</a></li>
</ul> -->
